@use "variables" as var

#header
  padding: 20px
  display: flex
  justify-content: center
  align-items: center

  #header-wrapper
    width: 100%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    gap: 8px
    @media (min-width: 768px)
      flex-direction: row
      justify-content: space-between
      max-width: 1440px

  .my-brand
    font-weight: bold
    font-size: 2rem
    color: var.$black
    display: flex
    justify-content: center
    align-items: center
    gap: 8px

    .brand-title
      font-size: 2rem
      color: var.$black

    .brand-tagline
      font-size: 1.4rem
      color: var.$gray
      font-weight: bold