#notes-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}
#notes-section #unarchive-notes-section {
  border-bottom: 2px solid #f8f8f8;
}
#notes-section #unarchive-notes-section,
#notes-section #archive-notes-section {
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}
#notes-section #unarchive-notes-section .notes-section-header h2,
#notes-section #archive-notes-section .notes-section-header h2 {
  color: #6366f1;
}
#notes-section #unarchive-notes-section .notes-section-header p,
#notes-section #archive-notes-section .notes-section-header p {
  color: #70798c;
}
#notes-section #unarchive-notes-section #archive-notes,
#notes-section #unarchive-notes-section #unarchive-notes,
#notes-section #archive-notes-section #archive-notes,
#notes-section #archive-notes-section #unarchive-notes {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
#notes-section #unarchive-notes-section #archive-notes .note,
#notes-section #unarchive-notes-section #unarchive-notes .note,
#notes-section #archive-notes-section #archive-notes .note,
#notes-section #archive-notes-section #unarchive-notes .note {
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}
#notes-section #unarchive-notes-section #archive-notes .note .note-created,
#notes-section #unarchive-notes-section #unarchive-notes .note .note-created,
#notes-section #archive-notes-section #archive-notes .note .note-created,
#notes-section #archive-notes-section #unarchive-notes .note .note-created {
  color: #70798c;
  font-size: 0.9rem;
}
#notes-section #unarchive-notes-section #archive-notes .note .note-body,
#notes-section #unarchive-notes-section #unarchive-notes .note .note-body,
#notes-section #archive-notes-section #archive-notes .note .note-body,
#notes-section #archive-notes-section #unarchive-notes .note .note-body {
  color: #2b2d42;
  flex-grow: 1;
  flex-basis: 0;
  height: auto;
  margin-top: 8px;
}
#notes-section #unarchive-notes-section #archive-notes .note .note-action-btn,
#notes-section #unarchive-notes-section #unarchive-notes .note .note-action-btn,
#notes-section #archive-notes-section #archive-notes .note .note-action-btn,
#notes-section #archive-notes-section #unarchive-notes .note .note-action-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
}
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-unarchive-btn,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-unarchive-btn,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-unarchive-btn,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-unarchive-btn {
  border: none;
  padding: 8px 12px;
  color: #edf2f4;
  border-radius: 5px;
  cursor: pointer;
}
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-delete-btn:hover,
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-archive-btn:hover,
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-unarchive-btn:hover,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-delete-btn:hover,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-archive-btn:hover,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-unarchive-btn:hover,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-delete-btn:hover,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-archive-btn:hover,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-unarchive-btn:hover,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-delete-btn:hover,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-archive-btn:hover,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-unarchive-btn:hover {
  opacity: 70%;
}
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-delete-btn,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-delete-btn {
  background-color: #f43f5e;
}
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #unarchive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-unarchive-btn,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #unarchive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-unarchive-btn,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #archive-notes-section
  #archive-notes
  .note
  .note-action-btn
  .note-unarchive-btn,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-archive-btn,
#notes-section
  #archive-notes-section
  #unarchive-notes
  .note
  .note-action-btn
  .note-unarchive-btn {
  background-color: #6366f1;
}
#notes-section #unarchive-notes-section #unarchive-notes .note,
#notes-section #archive-notes-section #unarchive-notes .note {
  background-color: #e0e7ff;
  border: 2px solid #c7d2fe;
}
#notes-section #unarchive-notes-section #unarchive-notes .note .note-title,
#notes-section #archive-notes-section #unarchive-notes .note .note-title {
  color: #6366f1;
  font-weight: 500;
}
#notes-section #unarchive-notes-section #archive-notes .note,
#notes-section #archive-notes-section #archive-notes .note {
  background-color: #ffe4e6;
  border: 2px solid #fecdd3;
}
#notes-section #unarchive-notes-section #archive-notes .note .note-title,
#notes-section #archive-notes-section #archive-notes .note .note-title {
  color: #f43f5e;
  font-weight: 500;
}

/*# sourceMappingURL=notes-section.css.map */
